.sec1 {
    display: flex;
    align-items: center;
    gap: 60px;
    margin-top: 400px;
}

.sec-1-1 {
    margin-left: 100px;
}

.sec-1-1 img {
    width: 400px;
    border-radius: 56% 44% 70% 30% / 16% 78% 22% 84%;
}

.sec-1-2 {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sec-1-2-1 {
    font-weight: 600;
}

h1 {
    font-size: 50px;
    color: purple;
}

.sec-1-2-3 {
    font-weight: 600;
    font-size: 22px;
}

p {
    font-size: 18px;
    width: 90%;
}

.buttons {
    display:  flex;
    gap: 20px
}

.buttons > :nth-child(1) {
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 20px;
    font-size: 15px;
    font-weight: 600;
    border: 2px solid black;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons > :nth-child(1):hover {
    background-color: black;
    color: white;
    text-decoration: none;
}

.buttons > :nth-child(2) {
    padding: 10px 20px;
    background-color: black;
    border-radius: 20px;
    font-size: 15px;
    color: white;
    font-weight: 600;
    border: 2px solid black;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttons > :nth-child(2):hover {
    background-color: purple;
    color: white;
    border-color: purple;
}

.socials {
    display: flex;
    gap: 20px;
}

.socials img {
    width: 40px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.socials img:hover{
    transform: scale(0.9);
}

@keyframes blinker{
    50% {
        opacity: 0;
    }
}

.sec-1-2-2 span{
    animation: blinker 1s linear infinite;
}

@media(max-width: 1024px) {
    .sec1 {
        flex-direction: column;
    }

    p {
        text-align: center;
        width: 70%;
    }
    .sec-1-1 {
        margin-left: 0px;
    }

    .sec-1-1 img{
        width: 450px;
    }

    .sec-1-2 {
        align-items: center;
    }
}

@media(max-width: 767px) {
    .sec1 {
        flex-direction: column;
        height: 100%;
    }

    h1 {
        font-size: 40px;
    }

    p {
        text-align: center;
    }

    .sec-1-1 {
        margin-top: 50px;
    }
    .sec-1-1 img {
        width: 300px;
    }
    .sec-1-2 {
        align-items: center;
    }
}